/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2016, 10:37:47 PM
    Author     : dziaudom
*/

.ui-icon.fa {
     text-indent:0px;
     background-image:none;
}

 .selected-menu-item {
    background-color: #B7E888;
}

.selected-menu-item > .ui-menuitem-text, .selected-menu-item > .ui-menuitem-link, .selected-menu-item > .ui-menuitem-icon {
    color: white;
}

.approval-output-panel {
    text-align: center;
}

.approval-output-panel .ui-panelgrid {
    margin:auto;
}
